* {
	margin: 0;
	padding: 0;
}

.clear {
    clear:both;
    line-height:0;
}

.col-8-10 {
	width: 80%;
	float: left;
}
.col-6-10 {
	width: 60%;
	float: left;
}

.col-2-10 {
	width: 20%;
	float: left;
}

.row {
	width: 100%;
	margin-bottom: 10px;
}

.row p {
	text-align: center;
}

.row label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

.row select {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
}

.row input[type="text"] {
	width: 100%;
}

[type="button"] {
	display: block;
	margin: 0 auto;
}

.center {
	display: block;
	text-align: center;
}
