* {
	margin: 0;
	padding: 0;
}

.clear {
    clear:both;
    line-height:0;
}

.col-19-20 {
	width: 95%;
	float: left;
}

.col-8-10 {
	width: 80%;
	float: left;
}
.col-6-10 {
	width: 60%;
	float: left;
}

.col-5-10 {
	width: 50%;
	float: left;
}

.col-4-10 {
	width: 40%;
	margin: 5%;
	float: left;
}

.col-2-10 {
	width: 20%;
	float: left;
}

.col-1-20 {
	width: 5%;
	float: left;
}

.col-5-20 {
	width: 25%;
	float: left;
}

.row {
	width: 100%;
	margin-bottom: 10px;
}

.row p {
	text-align: center;
}

.row label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

.row select {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
	margin-bottom: 5px;
}

.row input[type="text"] {
	width: 100%;
}

[type="button"] {
	display: block;
	margin: 0 auto;
}

.center {
	display: block;
	text-align: center;
}

/* Font Families */
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/googleFonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/googleFonts/RobotoCondensed-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/googleFonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/googleFonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/googleFonts/Roboto-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/googleFonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/googleFonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/googleFonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/googleFonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/googleFonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/googleFonts/Lato-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/googleFonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/googleFonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/googleFonts/SourceSansPro-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/googleFonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/googleFonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('../fonts/googleFonts/Oswald-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/googleFonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/googleFonts/Raleway-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/googleFonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/googleFonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/googleFonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/googleFonts/Muli-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/googleFonts/Muli-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/googleFonts/Muli-Bold.ttf') format('truetype');
	font-style: bold;
}

@font-face {
	font-family: 'Anton';
	src: url('../fonts/googleFonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Fjalla One';
	src: url('../fonts/googleFonts/FjallaOne-Regular.ttf') format('truetype');
}
