body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
}

.bootstrap.container {
    padding: 10px;
}

div.col-19-20 .gameTitleBox {
    width: auto;
}

.expandBox {
    margin-right: 25px;
}

li.ui-state-default {
    margin-bottom: 10px;
    padding: 5px;
}

ul.config {
    list-style-type: none;
}

#gamesHeader h3 {
    text-align: center;
}

h1.config {
    margin-bottom: 2em;
}

h3.config {
    font-size: 1em;
    margin: 0px;
    font-weight: 700;
}

ul .checkbox {
    margin-left: 10px;
}

nav.game {
    cursor: move;
}

ol {
    list-style-type: none;
}

.dropdown-menu {
    width: 250%;
}

.optionRow {
    padding-left: 5%;
    padding-right: 5%;
}

.deleteOption {
    cursor: pointer;
    color: red;
    font-weight: 700;
}

.fa-config {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

li > input {
    margin-top: 1em;
}

button {
    cursor:pointer;
}

section.spinnerWrapper {
    padding-top: 0px;
    background-color: transparent;
    background: transparent;
}

.errorOutput {
    font-weight: 700;
    color: red;
}

.row.config {
    margin-bottom: 2em;
}

.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
.btn-disabled {
    background-color: grey;
    border: none;
    color: #afafaf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.btn-warning {
    background-color: orange;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
