body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
}

.container {
    padding: 10px;
}

div.col-19-20 .gameTitleBox {
    width: auto;
}

.expandBox {
    margin-right: 25px;
}

li {
    margin-bottom: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

h1 {
    margin-bottom: 2em;
}

h3 {
    font-size: 1em;
}

button {
    cursor:pointer;
}

section.spinnerWrapper {
    padding-top: 0px;
    background-color: transparent;
    background: transparent;
}

.errorOutput {
    text-weight: 700;
    color: red;
}

.row {
    margin-bottom: 2em;
}

.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
.btn-disabled {
    background-color: grey;
    border: none;
    color: #afafaf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.btn-warning {
    background-color: orange;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
