body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
}

.bootstrap.container {
    padding: 10px;
}

div.col-19-20 .gameTitleBox {
    width: auto;
}

.expandBox {
    margin-right: 25px;
}

li.ui-state-default {
    margin-bottom: 10px;
    padding: 5px;
}

ul.config {
    list-style-type: none;
}

#gamesHeader h3 {
    text-align: center;
}
#errorDialog h3 {
    text-align: center;
}



h1.config {
    margin-bottom: 2em;
}

h3.config {
    font-size: 1em;
    margin: 0px;
    font-weight: 700;
}

ul .checkbox {
    margin-left: 10px;
}

nav.game {
    cursor: move;
}

ol {
    list-style-type: none;
}

.optionRow {
    padding-left: 5%;
    padding-right: 5%;
}

.deleteOption {
    cursor: pointer;
    color: red;
    font-weight: 700;
}

.fa-config {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

li > input {
    margin-top: 1em;
}

button {
    cursor:pointer;
}

section.spinnerWrapper {
    padding-top: 0px;
    background-color: transparent;
    background: transparent;
}

.errorOutput {
    font-weight: 700;
    color: red;
}

.row.config {
    margin-bottom: 2em;
}

.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
.btn-disabled {
    background-color: grey;
    border: none;
    color: #afafaf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.btn-warning {
    background-color: orange;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.gameOptionContainer {
    overflow: visible;
}

.selectionContainer {
    /* nothing */
}

.popover-title {
    color: black;
}

.dropdown-menu {
    z-index: 2000;
}

.dropdown-menu * {
    font-weight: 300;
    text-shadow: initial;
}

.dropdown-header {
    font-size: 14px;
    font-weight: 700;
}

.dropdown-menu li {
    padding: 5px;
    padding-left: 1em;
    color: black;
}

.dropdown-menu input {
    margin-top: 0;
}

.edit-button {
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 1000;
}

.edit-button-not-abs {
    cursor: pointer;
    color: white;
    z-index: 1000;
}

.edit-button-not-abs:hover {
    text-decoration: underline;
}

.dropdown-menu button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
}

.dropdown-menu button {
    color: white;
    border: #286090;
    background-color: gray;
}

.dropdown-menu button.active {
    color: white;
    border: #286090;
    background-color: #286090;
}

.dropdown a:hover {
    text-decoration: underline;
}

.slider.slider-horizontal {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.slider-selection {
    background-image: linear-gradient(to bottom, #286090 0%, #286090 100%);
}

#mockupTitleContainer {
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100px;
    background: radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/DarkTheme.png');
    background-position: center top;
    font-weight: 700;
}