/* dark theme */

.spinnerWrapper {
    height: 100%;
}
.previewHolder {
    background-color: #101010;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    /* lol what? */
    color: #fff;
    height: 100%;
    width: 100%;
    /* having these set to a fixed number can hurt relative positioning */
}

.timeHeader {
    color: #fff;
    font-size: 0.93em;
}

@keyframes rainbowText {
	0%, 100% {
		color: red;
	}
	30% {
		color: orange;
	}
	45% {
		color: yellow;
	}
	60% {
		color: lightgreen;
	}
	75% {
		color: lightblue;
	}
}

.pbWrapper::-webkit-scrollbar {
    width: 0.5em;
}

.pbWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pbWrapper::-webkit-scrollbar-thumb {
    background-color: #232323;
    outline: 1px solid slategrey;
}

.spinnerError {
    margin-top: 25px;
}

.pbWrapper {
    height: 392px;
    padding-top: 3px;
    overflow: auto;
}

.fa-2x {
    font-size: 1em;
    margin-top: 10%;
}

.fancyStripeGreen {
    height: 5px;
    background: linear-gradient(180deg, #101010, green, #101010);
    background-color: green;
}

.fancyStripeBlue {
    height: 5px;
    margin-bottom: 5px;
    background: linear-gradient(0deg, #101010, #205f6b);
    background-color: blue;
}

.pbRow {
    display: none;
}

.pbRowNotHidden {
    display: block;
}

.rightAlign {
    text-align: right;
}

.outlineText {
    text-shadow: 0.1px 0.0px 1px black, 0 0.1px 1px black, -0.1px 0.0px 1px black, 0 -0.1px 1px black, 0.1px 0.1px 1px black, -0.1px -0.1px 1px black, -0.1px 0.1px 1px black, 0.1px -0.1px 1px black;
}

.titleContainer {
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100px;
    background: radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/DarkTheme.png');
    background-position: center top;
    font-weight: 700;
}

h2 {
    font-size: 1em;
}

.gameTitle {
    padding-left: 10px;
    cursor: pointer;
}

.pbContainer {
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 1em;
    background-position: center top;
}

.pbRow a {
    text-decoration: none;
    /*cursor: default;*/
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoryName {
    color: #f1eecb;
}

.pbTime {
    color: #FFF;
    font-size: 0.90em;
}

.wrTime {
    color: #f3e221;
    font-size: 0.90em;
}

.frameWrapper {
    display: block;
    width: 318px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    height: 1.5em;
}
