body {
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
}

.justify-content-center {
	justify-content: center;
	text-align: center;
}

.padding-1 {
	padding: 1em;
}

.container {
	padding: 2em;
}
