body {
  background-color: #0e0e10;
  color: #e5e3e8;
}

a {
	color: #e2dbf0;
}

.justify-content-center {
	justify-content: center;
	text-align: center;
}

.padding-1 {
	padding: 1em;
}

.container {
	padding: 2em;
}

:host,
.sl-theme-dark {
  --sl-font-sans: 'Rubik', sans-serif;
}

.pure-g [class*="pure-u"] {
	font-family: var(--sl-font-sans);
}

.nav-link.active sl-icon-button::part(base) {
	color: #6441a4;
}

.nav-link.active {
	color: #6441a4;
}

.nav-link sl-icon-button::part(base) {
	color: #e2dbf0;
}

.nav-link sl-icon-button::part(base):hover {
	color: #e2dbf0;
}

.nav-link.active sl-icon-button::part(base):hover {
	color: #6441a4;
}
