@font-face {
  font-family: "Inter";
  src: url(".ye/fonts/Inter.ttf");
}

:root {
  /* Colors */
  --src-twitch-ext-color-mainBackground: #212026;
  --src-twitch-ext-color-gameHeaderBackground: #322f37;
  --src-twitch-ext-color-gameEntriesBackground: #212026;
  --src-twitch-ext-color-gameEntriesAlternateRow: #111113;
  --src-twitch-ext-color-gameNameLinkHover: #a06bff;
  --src-twitch-ext-color-gameEntryLinkHover: #a06bff;
  --src-twitch-ext-color-gameExpandIcon: #dfdde2;
  --src-twitch-ext-color-gameEntryLeaderboardPlace: #808080;

  /* Fonts */
  --src-twitch-ext-font-weight-gameName: 700;
  --src-twitch-ext-font-weight-gameNameSubheader: 400;
  --src-twitch-ext-font-weight-gameEntry: 500;
  --src-twitch-ext-font-weight-gameEntryTime: 400;

  --src-twitch-ext-font-style-gameName: normal;
  --src-twitch-ext-font-style-gameNameSubheader: normal;
  --src-twitch-ext-font-style-gameEntry: normal;
  --src-twitch-ext-font-style-gameEntryTime: normal;

  --src-twitch-ext-font-color-gameName: #dfdde2;
  --src-twitch-ext-font-color-gameNameSubheader: #a299b0;
  --src-twitch-ext-font-color-gameEntry: #ffffff;
  --src-twitch-ext-font-color-gameEntryTime: #ffffff;

  --src-twitch-ext-font-family-gameName: "Inter";
  --src-twitch-ext-font-family-gameNameSubheader: "Inter";
  --src-twitch-ext-font-family-gameEntry: "Inter";
  --src-twitch-ext-font-family-gameEntryTime: "Inter";

  /* Misc Features */
  --src-twitch-ext-gameExpandIconVisibility: "visible";

  /* Chota Overrides */
  --font-family-sans: "Inter";
}
